 .main{
    background-image: url('https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.name{
    justify-content: center;
    margin: 33%;
    margin-top: 10%;
}
.block{
    justify-content: center;
    width: 350px;
    height: 300px;
    text-align: center;
    border: 4px solid rgb(78, 200, 244);
    border-radius: 8px;
    padding-top: 10px;
    font-size: larger;
    
} .name h1{
    color:white;
    
    
    
}
.block input{
    border-radius: 30px;
    border-color: aqua;
    margin-top: 10px;
  text-align: center;
    background-color: none;
}
.block button{
    background-color: aliceblue;
    color: black;
    border-radius: 30px;
    width: 80px;
}.block p{
    color: white;
    
    text-decoration: none;
}
.main1{
    background-image: url('https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    

}.one{
  margin-top: 100px;
    
    height: 200vh;
    background-color:rgb(9, 90, 9);
    

} .one ul li{
     color: white; 
     font-size: 20px;
 } .one ul Link li{
    text-decoration: none;
 }
 .three button{
    background-color: rgba(240, 9, 9, 0.847);
    color:white;
    height: 40px;
    border-radius: 20px;
 } .three{
    border: 3px solid rgb(55, 117, 193);
    height: 300px;
    width: 540px;
   padding: 80px;
    text-align: center;
    margin-top: 210px;
    margin-left: 210px;
    margin-right: 80px;
    margin-bottom: 80px;
 } .three h1{
    color: rgb(55, 117, 193);
 }
 .three p{
    color: rgb(55, 117, 193);
    text-decoration: underline;
    font-style: italic;
    font-weight: 400;
   font-size: larger;
 }
 
 .container{
    display: flex;
    text-align: center;
   
 }.blockk{
    height: 210px;
   width: 200px;
   border: 1px ;
   border-radius: 5px;
   background-color: rgb(33, 161, 161);
   margin: 10px;
   
  
 }
.blockk h5{
    color: white;
    font-size: 20px;
    padding-top:20px ;

}
.blockk1{
    height: 210px;
    width: 200px;
    border: 1px ;
    border-radius: 5px;
    background-color: rgb(203, 149, 50);
    margin: 10px;
   
  }
 .blockk1 h5{
     color: white;
     font-size: 20px;
     padding-top:20px ;
 
 } .blockk2{
    height: 210px;
    width: 200px;
    border: 1px ;
    border-radius: 5px;
    background-color:  rgb(55, 117, 193);
    margin: 10px;
   
  }
 .blockk2 h5{
     color: white;
     font-size: 20px;
     padding-top:20px ;
 
 } .blockk3{
    height: 210px;
    width: 200px;
    border: 1px ;
    border-radius: 5px;
    background-color: rgb(33, 123, 120);
    margin: 10px;
    
  }
 .blockk3 h5{
     color: white;
     font-size: 20px;
     padding-top:20px ;
 
 }
 .blockk4{
    height: 210px;
    width: 200px;
    border: 1px ;
    border-radius: 5px;
    background-color: rgb(33, 161, 161);
    margin: 10px;
    
  }
 .blockk4 h5{
     color: white;
     font-size: 20px;
     padding-top:20px ;
 
 }
 .blockk4 p{
    color: white;
   

}
.blockk p{
    color: white;
    

}
.blockk1 p{
    color: white;
    

}
.blockk2 p{
    color: white;
  

}
.blockk3 p{
    color: white;
   

}.blo{
    border: 1px solid;
    height: 90px;
    width: 200px;
    margin: 10px;
    margin-top: 20px;

}
.new img{
    width: 200px;
  }
   img{
    height:850px;
  }
  
  
  
  .block22 {
        
        justify-content: center;
       
      
        
          
  } .block22 h1{
    text-align: center;
    font-style: italic;
    color: forestgreen;
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    margin-right:100px;
    margin-top: 200px;
  } 
  
  .block22 h3{
    font-size: 20px;
    font-style: italic;
    color: forestgreen;
    margin-top: 20px;
   
  
  } input{
    width: 300px;
    border-radius:7px;
  
  }  .block22 button{
    width:300px ;
    border-radius:7px;
     background-color: forestgreen;
     color: white;
     
  }.block22 p{
    color:forestgreen ;
    font-weight: 800;
  } .mainn{
    display: flex;
   flex-wrap: wrap;
   
   
 
  
  }
  .card{
    width: 300px;
    margin: 2%;
    padding: 2%;
    border: 2px solid green;
   
   
  }
  .card img{
    height: 250px;
    width: 100%;
  }
  .headd{
    color: rgb(14, 146, 14);
  }
  .bb{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    
  }
  .bblock img{
   
    height: 270px;
    width:270px;
    
    
  }.bblock:hover img{
    transform: scale(1.05);
        } 
  
  .bblock{
    height:400px;
    width: 300px;
    margin: 2%;
    padding: 2%;
   padding: 20px;
   text-align: center;
  
  }
  .bblock button{
      width:70%;
      background-color: rgb(35, 163, 35);
      text-align: center;
      color:white;
  }  
  .own h3 input{
      margin-top: 3%;
     width: 600px;
    border: 1px solid ;
    

  }
  .own h4 input{
      
    width: 600px;
    height: 200px;
    text-align: start;
    border: 1px solid ;
    

 } .ownn{
  margin-top: 160px;
  text-align: center;
 }
 .ownn input{


  margin-top: 30px;
  
 }
 .ownn h1{
  color:forestgreen;
  text-align: center;
  font-weight: 800;
  font-size: 50px;

 } 
 .ownn1{

  margin-top: 180px;
  border-color: rgb(239, 239, 239);
   border: 1px solid;
   height: 410px;
   width:400px;

 
 }
 .ownn1 h3,p{
  margin-left: 30px;
  
 }
 .ownn button{
  width:200px;
   height: 50px;
   background-color: rgb(79, 191, 79);
  
 }


 .wheat img{
  width: 100%;
  height: 350px;
 }
 .oo img{
  height: 470px;
    width:100%;
    
 }
 .short{
  border: 1px solid;
  height: 250px;
  width: 250px;
  margin:3%;
  background-color: rgb(171, 222, 235);
  
}.short2{
  border: 1px solid;
  height: 250px;
  width: 250px;
  margin:3%;
  background-color: rgb(229, 213, 183);

}

.sh{
  display: flex;
  text-align: center;
  padding-top: 8px;
  
}
.short1{
  border: 1px solid;
  height: 250px;
  width: 250px;
  margin:2%;
  background-color: rgb(206, 170, 182);
}.short3{
  border: 1px solid;
  height: 250px;
  width: 250px;
  margin:2%;
  background-color: rgb(144, 186, 144);}



.sh1{
  display: flex;
  text-align: center;
  padding-top: 8px;
}
.sh h3{ 
     padding-top: 60px;
}
.sh1 h3{ 
  padding-top: 60px;
}
.sh button{ 
  border-radius: 20px;
}
.sh1 button{ 
  border-radius: 20px;
}
.rec{
  padding: 2%;
  display: flex; 
  flex-wrap: wrap;
  
  text-align: center;
} .rec button{

  height: 50px;
  width: 70px;
  border-radius: 20px;
  margin-left: 50px;
}
.rec h4,h3,p{

  margin-left: 20px;
}


.recc {
    padding-top: 3px;
    

  
}

.rec img{
  
  height: 100px;
  width: 100px;
border-radius: 100px;
}
.chh{
  height: 300px;
  background-color:rgb(103, 178, 153);
  display: flex;
flex-wrap: wrap;
}
.chh h1{
  color: gold;
}
.chh img{

height: 100px;
width: 100px;

}
.rec h2{
  color: gold;
}
.rr img{
  height: 500px;
  width: 500px;
  border-radius: 100px;
}
.tt{
  margin-top:80px;
  border: 1px solid;
 
}
.in img{

width: 100%;
  height: 300px;
}
.card1{
  top:2%;
}
.image-container {
  position: relative;
  overflow: hidden;
}


.image-container img {
  width: 100%;
  height: 500px;
}

.marquee {
  position: absolute;
  top: 0;
  left: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  animation: marquee 3s linear;
}

.card1 {
  position: relative;
  width: 400px;
  flex: 0 0 auto;
  
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.card1{
  text-align: center;
}

.card1 button{
width:150px;
  background-color: rgb(82, 210, 82);
margin-left: 75px;
  
}
.blow{
  border: 1px solid;
}
.blo img{
  width: 200px;
  height: 200px;
}
.blo{
  height:250px ;
  width: 480px ;
}
.blow1{
  display: flex;
  flex-wrap: wrap;
}
.ble{
  margin-top: 40px;
}
.ble button{
  background-color:rgb(82, 210, 82);
}
.diy h2{
text-align: center;
color: forestgreen;
font-weight: 700;
}
.diy p{
  text-align: center;
  color: forestgreen;
  font-weight: 500;
}
.in{
  height: 500px;
  width: 510px;
}
.ts{
  margin-top:40px;
  border: 1px solid;
  height: 500px;
}
.btn2{
 background-color: rgb(78, 176, 78);
  margin-left:190px;
  color: white;

}
.t4{

 font-weight: 400;
}
.one{
  position: fixed;
  width:170px;
}
.ot{
  position: fixed;
 
}
.sb img{
  width: 200px;
  height: 200px;
}
.er img{
  height: 150px;
  width:150px;
}
 .ss{
  border-radius: 20px;
  background-color:forestgreen ;
  width: 150px;
}
.t{
  text-align: center;
}
.es{
 text-align: center;
 border: 1px solid;
}
.er{
 
  margin-left: 300px;
}
.er{
  padding-top: 80PX;
}.rt{
  padding-top: 80PX;
}
rt h2{
  color: gold;
}
.dr h1{
font-size: 300px;
background: url('https://img.freepik.com/premium-photo/large-display-fruits-vegetables-including-one-that-says-fruit_901003-39079.jpg');
background-clip: text;
color: transparent;
animation: move 1s infinite;
}
.ab{
  padding-top: 80px;
  margin-left: 60px;
}
.ab h2{
  font-size: 50px;
}
.cd{
  display: flex;
}
.bc{
  height: 400px;
  width:700px;
}
.bc img{
  height: 300px;
  width:300px
}
 .gd img{
  height: 400px;
  width:400px
}
.gd{
  padding-top: 130px;
}
.bd{
  padding-top: 130px;
}
.bd h1{
    font-size: 60px;
  background: url('https://img.freepik.com/premium-photo/large-display-fruits-vegetables-including-one-that-says-fruit_901003-39079.jpg');
background-clip: text;
color: transparent;

}
.ot{
  position: fixed;
}
.dd{
  box-shadow: 550px;
  display: flex;
 
}
.gg img{
  height: 400px;
  width:400px
}
.cc{
  list-style-type: none;
  text-decoration: none;
  padding:60px;
}
.nt{
z-index: 1000;
top:0;
  position: fixed;
}
.image-container{
  margin-top: 100px;
}
.mainn{
  margin-top: 100px;
}
.ci{
  list-style-type: none;
  text-decoration: none;
  padding:800px;
}
.boxx1{
  margin-top: 100px;
  border: 2px solid rgb(89, 218, 119);
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 1000px;
  margin-left: 100px;
 
}

.boxx1 img{
 height: 400px;
 width: 500px;
 margin-left: 30px;
 margin-top: 35px;


}

